<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DataBaseTest.Properties.Settings.studentConnectionString" connectionString="server=localhost;user id=root;database=student;allowuservariables=True" providerName="MySql.Data.MySqlClient"/>
        <add name="DataBaseTest.Properties.Settings.mygroupConnectionString" connectionString="server=db4free.net;user id=sp13cloud;password=amctor0906;database=mygroup" providerName="MySql.Data.MySqlClient"/>
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
</configuration>
